#Canvas{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    border:10px solid lightblue;
}
Body{
    background-image: url("imgs/snake.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#TitleText{
    text-align: center;
    color:chocolate;

}
#randomtext{
    color:blue;
}